.profile {
  display: flex;
  padding: 32px;
  align-items: center;
  flex-wrap: wrap;
  background-color: #8080801a;
  .image {
    padding-right: 22px;
    img {
      width: 100px;
      height: 100px;
      object-fit: fill;
      border-radius: 78px;
    }
  }
  .detail {
    padding: 5px;
    h3 {
      font-size: 25px;
      font-weight: 300;
    }
  }
}
.posts{
  padding: 23px 7vw;
}

.post_container {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.wrape {
  position: relative;
  padding: 7px 7px;
  width: 25%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  @media screen and (max-width: 768px) {
    width: 33%;
    height: 20%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    // margin-bottom: 10px; /* Add margin bottom for space */
    aspect-ratio: 1/1;
    z-index: -12;
    &:hover{
      filter: brightness(0.7);
    }
    
  }

  .comments {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .post_icon {
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 95%;
    text-align: right;
    right: 9px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    img{
      filter: brightness(0.6);
    }
    .comments {
      opacity: 1;
    }
  }
}

.verified {
  img {
    width: 14px;
    margin-top: -11px;
    margin-left: -4px;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  z-index: 9999999;
}

.word_wrape {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
